<!doctype html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
    <script type="text/javascript" src='./js/jquery-1.11.1.js'></script>
</head>
<body>
<div id="content_id">
    <p>FirstName: <%= data.firstName %></p>
    <p>LastName: <%= data.lastName %></p>
    <p>age: <%= data.age %></p>
    <p>email: <%= data.email %></p>
    <p>Sex: <%= data.sex %></p>
</div>
</body>
</html>